<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>

<div th:fragment="footer">

    <div class="container">


        <footer>
            <!-- this is footer -->
            <div class="mt-5 d-lg-block" th:if="${#httpServletRequest.remoteUser}">
                Logged In as <span th:text="${#httpServletRequest.remoteUser}"></span>
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-dark" type="submit" value="Sign Out"/>
                </form>
            </div>

            <div class="mt-5 d-lg-block" th:unless="${#httpServletRequest.remoteUser}">
                Currently Not Logged In <a class="btn btn-dark" href="/login">Log in</a>
            </div>

        </footer>

    </div>

</div>


</body>
</html>