<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Home</title>

    <div th:replace="fragments/myCSS :: defaultCSS"></div>


</head>

<body>

<div class="wrapper">

    <h1 id="homepageHeader">HOMEPAGE</h1>
    <div th:if="${#httpServletRequest.remoteUser}">
        <p><a href="/profile">My Profile</a></p>

        <p><a href="/secured">See All Users</a></p>
    </div>
    <p>
        <div th:unless="${#httpServletRequest.remoteUser}">
            <div id="signinMainDiv">
                <p id="signinP">Sign in Form</p>
                <div id="signinSuccessDiv" class="alert alert-success">Signed in Successfully</div>
                <div id="signinFailDiv" class="alert alert-danger">Signed in Failed! Please Try Again</div>
                <div id="emptyValues" class="alert alert-light">Username or Password Cannot Be Empty</div>
                <p><input type="text" placeholder="Username" id="username"></p>
                <p><input type="password" placeholder="Password" id="password"></p>
                <p><button id="signButton" class="btn btn-success">Sign in</button></p>
            </div>
        </div>
    </p>

    <div th:if="${param.logout}">
        <div id="logoutAlertDiv">
            You have been logged out.
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div>

<script>

    if(document.getElementById("signButton")!=null){
        document.getElementById("signButton").addEventListener("click",()=> {

            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;

            username = username.trim();
            password = password.trim();

            if(username == '' || password == '') {
                document.getElementById("emptyValues").style.display = "initial";
                document.getElementById("signinSuccessDiv").style.display = "none";
                document.getElementById("signinFailDiv").style.display = "none";
                return;
            }

            let user = {
                "username" : username,
                "password" : password
            }

            var saveUserRequest = new XMLHttpRequest();
            saveUserRequest.onreadystatechange = () => {
                if (saveUserRequest.readyState == 4 && saveUserRequest.status == 200){
                    // console.log(saveUserRequest.response);
                    if(saveUserRequest.response === '') {
                        document.getElementById("signinFailDiv").style.display = "initial";
                        document.getElementById("signinSuccessDiv").style.display = "none";
                        document.getElementById("emptyValues").style.display = "none";
                    } else {
                        document.getElementById("signinSuccessDiv").style.display = "initial";
                        document.getElementById("signinFailDiv").style.display = "none";
                        document.getElementById("emptyValues").style.display = "none";
                    }
                    document.getElementById("password").value = '';
                }
            }
            saveUserRequest.open("POST","http://localhost:8080/users", true);
            saveUserRequest.setRequestHeader("Content-Type", "application/json");
            saveUserRequest.send(JSON.stringify(user));

        })
    }


</script>

</body>

</html>